.main {
    &__title {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        margin-bottom: 0;
    }

    &__slideshow {
        background-image: url(../../image/slideshow-bgc.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 720px;
    }
}

.logo {
    &__link {}

    &__img {}
}

.contacts {

    font-family: Arial, sans-serif;

    &__title {
        font-size: 12px;
        color: #01983b;
        text-align: right;


    }

    &__text {
        font-size: 12px;
        margin-top: 0;
        vertical-align: top;


    }

    &__img {}

    &__link {
        text-decoration: none;
    }

    &__img {
        &:hover {
            max-width: 4%;

        }
    }

    &__numbers {
        font-size: 16px;
        line-height: 18px;
        color: #2c2783;
        font-weight: 700;
        text-decoration: none;
    }

    &__number {
        text-decoration: none;
        color: #2c2783;
    }

    &__email {
        text-decoration: none;
        color: #2c2783;
    }

    &__input {
        display: flex;
        justify-content: space-between;
    }

    &__line {
        max-width: 390px;
        flex-grow: 1;

    }

    &__search {
        border: none;
        border-bottom: 1px solid #bfbdd9;
        width: 100%;

        &:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #bfbdd9;
        }
    }

    &__submit {
        outline: none;
        border: none;
        background-color: #fff;

        &:hover {
            cursor: pointer;
        }
    }
}

.slideshow {}

.image-slider {
    overflow: hidden;

    &__wrapper {}

    &__slide {}

    &__image {}

    .swiper-pagination {

        &-bullet {

            border-radius: 0;
            width: 32px;
            height: 12px;
            background: #fff;
            opacity: 1;
        }

        &-bullet-active {
            background: #01983b;
        }

        &-bullets {}
    }
}


.image-slider .swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -40px;
}

.image-slider .swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -40px;
}



.wrapper {
    position: relative;
}

.image-slider .swiper-pagination {
    position: absolute;
    left: 21px !important;
    bottom: 12px !important;
    width: auto !important;
}

.slide-block {
    max-width: 770px;
    max-height: 140px;
    background-color: rgba(0, 0, 0, 0.36);

    color: #fff;
    position: absolute;
    bottom: 40px;
    padding-top: 38px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 45px;

    &__title {
        font-size: 30px;
        margin: 0;
        line-height: 30px;
        margin-bottom: 22px;

    }

    &__subtitle {
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        
    }
}
