@font-face{
    font-family: 'EuropeExt';
    src: url('../../../fonts/europeext_normal.woff2'),
         url('../../../fonts/europeext_normal.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'EuropeExt';
    src: url('../../../fonts/EuropeExt_Bold.ttf');
    font-weight: 700;
    font-style: bold;
}